.alerta {
    display: none;
    background-color: #F3F5F6;
    color: #000000;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    height: 100px;
    left: 40%;
    top: 40%;
    box-sizing: border-box;
    text-align: center;
}